@model Project.Models.Violazione

@{
    ViewData["Title"] = "Create Violazione";
}

<h1>Create Violazione</h1>
<div class="">
    <a asp-controller="Home" asp-action="Creazioni" class="btn btn-danger">INDIETRO</a>
</div>

<form asp-controller="Violazione" asp-action="CreateViolazione" method="post">
    <div class="form-group">
        <label asp-for="Descrizione" class="control-label"></label>
        <input asp-for="Descrizione" class="form-control" />
        <span asp-validation-for="Descrizione" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <button type="submit" class="btn btn-primary">Crea</button>
    </div>
</form>
