@model IEnumerable<Project.Models.ViolazioneOver400Importo>

@{
    ViewData["Title"] = "Violazioni con Importo Maggiore di 400 Euro";
}

<h1 class="bg-opacity-25 bg-warning text-center">Violazioni con Importo Maggiore di 400 Euro</h1>
<div class="mb-3 btn-sticky">
    <a asp-controller="Home" asp-action="Index" class="btn btn-danger">INDIETRO</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Data di Violazione</th>
            <th>Importo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Cognome</td>
                <td>@item.DataViolazione.ToShortDateString()</td>
                <td>@item.Importo</td>
            </tr>
        }
    </tbody>
</table>
