@model IEnumerable<Project.Models.Camera>

<h2>Camere</h2>
<div class="table-container">
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Numero</th>
            <th>Descrizione</th>
            <th>Tipologia</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var camera in Model)
        {
            <tr>
                <td>@camera.IdCamera</td>
                <td>@camera.NumeroCamera</td>
                <td>@camera.Descrizione</td>
                <td>@camera.Tipologia</td>
            </tr>
        }
    </tbody>
</table>
</div>
<a asp-controller="Home" asp-action="Management" class="btn btn-secondary">Indietro</a>