@model List<BE_Project_29_07_02_08.Models.ViewModels.CartItem>

@{
    ViewData["Title"] = "Checkout";
}

<h1>Checkout</h1>

<form asp-action="Checkout" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="address">Indirizzo</label>
        <input type="text" id="address" name="address" class="form-control" required placeholder="Inserisci il tuo indirizzo" />
    </div>
    <div class="form-group">
        <label for="additionalNotes"> Note Aggiuntive</label>
        <textarea id="additionalNotes" name="additionalNotes" class="form-control" placeholder="es. 'allergia al salame' "></textarea>
    </div>   
    <button type="submit" class="btn btn-primary">Completa l'acquisto</button>
</form>
