@model Project.Models.Verbale

@{
    ViewData["Title"] = "Create Verbale";
}

<h1>Create Verbale</h1>
<div>
    <a asp-controller="Home" asp-action="Creazioni" class="btn btn-danger">INDIETRO</a>
</div>

<form asp-controller="Verbale" asp-action="CreateVerbale" method="post">
    <div class="form-group">
        <label asp-for="DataViolazione" class="control-label"></label>
        <input asp-for="DataViolazione" class="form-control" />
        <span asp-validation-for="DataViolazione" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IndirizzoViolazione" class="control-label"></label>
        <input asp-for="IndirizzoViolazione" class="form-control" />
        <span asp-validation-for="IndirizzoViolazione" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Nominativo_Agente" class="control-label"></label>
        <input asp-for="Nominativo_Agente" class="form-control" />
        <span asp-validation-for="Nominativo_Agente" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Importo" class="control-label"></label>
        <input asp-for="Importo" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="Importo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DecurtamentoPunti" class="control-label"></label>
        <input asp-for="DecurtamentoPunti" class="form-control" type="number" step="1" />
        <span asp-validation-for="DecurtamentoPunti" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IDAnagrafica" class="control-label"></label>
        <input asp-for="IDAnagrafica" class="form-control" type="number" step="1" />
        <span asp-validation-for="IDAnagrafica" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IDViolazione" class="control-label"></label>
        <input asp-for="IDViolazione" class="form-control" type="number" step="1" />
        <span asp-validation-for="IDViolazione" class="text-danger"></span>
    </div>
    <div class="form-group mt-2">
        <input type="submit" value="Crea" class="btn btn-primary" />
    </div>
</form>
